.welcome-page-wrap{
background-color: #D4F2E8;
height: auto;
}

.welcome-list{
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
    
}

.handup{
    max-width: 100%; 
    height: auto;
    
}

.plonqimg{
    position: absolute;
    top: 152px;
    right: 100px;
}


.navbar-img{
    position: relative;
}