@font-face{
    font-family: 'GothamPro';
    src: url('fonts/GothamPro.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'GothamProlight';
    src: url('fonts/GothamPro-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



a{
    text-decoration: none;
}

h1{
    margin: 0;
}

body{
    font-family: 'GothamProlight', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
   
}

:root{
    --container-width:1300px;
    --text-color:#000000;
    --text-color-wh:#FFFFFF;
    --color-gold:#C8BB93;

}

/*header*/ 
.hamburger-menu{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 9%;
    
}

.media-loction{
    display: none;
}

.header-logo-img{
    min-width: 88px;
    min-height: 20px;
    align-items: center;
    z-index: 2;
}

.header-link-ul{
    display: flex;
    column-gap: 124px;
    align-items: center;
}

.header-menu-link{
    color: var(--text-color);
    font-size: 13px;
    padding-bottom: 5px;
    font-family: 'GothamPro', sans-serif;
    font-weight: 400;
    transition: 0.2s ease;
}

.header-menu-link:hover{
    color: #747474;
}

.active{
    color: var(--color-gold);
}
 

@media (max-width: 1400px){

    header{
        padding: 23px 6%;
    }

    .header-link-ul{
        column-gap: 90px;
    }
}

@media (max-width: 960px){

    header{
        padding: 16px 15.2%;
        column-gap: 60px;
    }

    

   .header-nav{
    display: none;
   }

   .media-loction{
    display: block;
    
    }

    /*burger*/

    .hamburger-menu{
        display: block;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        padding-top: 10px;
        
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 5;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--text-color);
        transition-duration: .25s;
        
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
        right: ;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 3;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: var(--text-color);
        font-family: 'GothamPro', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }


}
/*burger*/




@media (max-width: 400px){

    .header{
        padding: 16px 3% 12px ;
    }

    .header-logo-img{
        min-width: 62px;
        min-height: 13px;
    }

    .header-pin-img{
        width: 18px;
        height: 30px;
    }
}


/*welcome*/ 
/* #region */
.welcome-block{
    background-image: url("img/Image-Plonq-500.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
    padding-top: 441px;
    padding-bottom: 352px;
}

.welcome-wrap{
    max-width: 960px;
    margin: 0 auto;
    padding-left: 50px;
}

.logo-welcome{

}

.welcome-tittle{
    padding-top: 35px;
    color: var(--text-color-wh);
    font-size: 32px;
    font-family: 'GothamProlight', sans-serif;
}

.welcome-buttons{
    padding-top: 60px;
    display: flex;
    column-gap: 125px;
    align-items: center;
}

.welcome-link{
    color: var(--text-color-wh);
    font-family: 'GothamProlight', sans-serif;
    font-size: 15px;
    font-family: 'GothamPro', sans-serif;
    transition: 0.2s ease;
}

.welcome-link:hover{
    color: #cfcfcf;
    
}

.welcome-button{
    padding: 10px 52px;
    border: 1px solid var(--text-color-wh);
    border-radius: 100px;
    color: var(--text-color-wh);
    font-size: 13px;
    transition: 0.2s;
}

.welcome-button:hover{
    border: 1px solid rgb(185, 184, 184);
    color: rgb(224, 224, 224);
    background-color: rgba(165, 165, 165, 0.445);
}



@media (max-width: 960px){
    .welcome-block{
        background-image: url("img/Image-Plonq-mobile1.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 1136px;
        
        
    }

    .welcome-wrap{
        max-width: 380px;
        min-height: 54px;
        margin: 0 auto;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        
    }
    
    .logo-welcome{
        width: 218px;
        height: 33px;
        
    }
    
    .welcome-tittle{
        padding-top: 28px;
        color: var(--text-color-wh);
        font-size: 25px;
        font-family: 'GothamProlight', sans-serif;
        text-align: center;
        
    }
    
    .welcome-buttons{
        padding-top: 0px;
        display: flex;
        column-gap: 125px;
        align-items: center;
        position: relative;
        top: 730px;
        
        
    }
    
    .welcome-link{
        color: #264F53;
        font-family: 'GothamProlight', sans-serif;
        font-size: 15px;
    }
    
    .welcome-button{
        padding: 8px 56px;
        border: 1px solid #264F53;
        border-radius: 100px;
        color: #264F53;
        font-size: 13px;
        transition: 0.2s;
        letter-spacing: 0%;
        width: 186px;
        text-align: center;
        
    }
}



@media (max-width: 400px){
    .welcome-buttons{
        padding-top: 0px;
        display: flex;
        column-gap: 35px;
        align-items: center;
        position: relative;
        top: 730px;
    }

    .welcome-button{
        width: 100%;
        padding: 6px 36px;
    }
}


/*x-block*/

.x-wrapper{
    padding-top: 201px;
    width: 937px;
    margin: 0 auto;
    display: flex;
    column-gap: 55px;
}

.x-left{
    padding-top: 193px;
}

.x-tittle{
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
    max-width: 402px;
    padding-top: 60px;
}

.x-buttons{
    padding-top: 68px;
    display: flex;
    column-gap: 98px;
}

.x-link{
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    color: #000000;
    font-family: 'GothamPro', sans-serif;
    transition: 0.2s ease;
}

.x-link:hover{
     color: #3a3a3a;
     background: transparent;
}

.x-link:after{
    content: "";
    background-image: url("img/Arrow.svg");
    width: 5px;
    height: 8px;
    position: relative;
    top: 8px;
    bottom: 7px;
    left: 15px;
}

.x-button{
    font-family: 'GothamPro', sans-serif;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--color-gold);

}

@media (max-width: 960px){
    .x-wrapper{
        padding-top: 147px;
        width: 379px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        column-gap: 0px;
    }

    .x-left{
        padding-top: 0px;
        
    }

    .x-logo{
        width: 379px;
    }

    .x-logo-img{
        margin: 0 auto;
        width: 196px;
    }

    .x-tittle{
        font-weight: 300;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0%;
        max-width: 379px;
        padding-top: 30px;
        text-align: center;
        
    }

    .x-right{
        padding-top: 90px;
    }

    .x-buttons{
        position: relative;
        top: 715px;
        padding-top: 0;
        column-gap: 152px;
        
    }
}

@media (max-width: 400px){
    .x-wrapper{
        padding-top: 71px;
        width: 272px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        column-gap: 0px;
    }

    .x-left{
        padding-top: 0px;
    }

    .x-logo{
        width: 272px;
    }

    .x-logo-img{
        margin: 0 auto;
        width: 121px;
    }

    .x-tittle{
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0%;
        max-width: 272px;
        padding-top: 20px;
        text-align: center;
    }

    .x-right{
        padding-top: 0px;
    }

    .x-buttons{
        position: relative;
        top: 435px;
        padding-top: 0;
        column-gap: 0px;
        justify-content: space-between;
    }
}


/*cards*/

.cards-wrapper{
    max-width: 1016px;
    margin: 0 auto;
    padding-top: 198px;
}

.cards-elements{
    display: flex;
    column-gap: 115px;
    flex-wrap: wrap;
}

.card-element{
    display: flex;
}

.card-info{
    padding: 125px 0 0 20px;
}

.card-info-p{
    padding: 54px 0 0 0;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0%;
    max-width: 208px;
}

.card-price{
    padding: 18px  0 43px 0 ;
    font-family: 'GothamPro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

.card-button{
    padding: 12px 67px;
    border: 1px solid black;
    border-radius: 100px;
    color: var(--text-color);
    font-size: 13px;
    font-weight: 700;
    transition: 0.2s ease;
}

.card-button:hover{
    box-shadow: 3px 2px 5px rgba(148, 148, 148, 0.582);
}

.card-img-mobile{
    display: none;
}

@media (max-width: 1100px){
    .cards-elements{
        column-gap: 20px;
    }
}

@media (max-width: 960px){

    .card-element{
        max-width: 385px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .cards-elements{
        flex-wrap: wrap;
        column-gap: 204px;
    }

    .logo-plonq-card{
        width: 176px;
        height: 26px;
    }
    
    .card-info-p{
        max-width: 162px;
        padding-top: 35px;
    }

    .card-price{
        font-size: 18px;
        padding: 28px 0 35px 0;
    }

    .card-button{
        padding: 7px 35px;
    }
}


@media (max-width: 400px){

    .card-element{
        flex-direction: column;
        position: relative;
    }

    .card-element:nth-child(2){
        padding-top: 122px;
    }

    .logo-plonq-card{
        position: absolute;
        bottom: 545px;
    }

    .card-info{
        padding: 0px 0 0 0;
    }

    .card-img{
        display: none;
    }

    .card-img-mobile{
        display: block;
    }

    .card-info-p{
        padding: 0;
        font-size: 12px;
        width: 186px;
    }

    .card-price{
        padding: 12px 0 8px 0;
        font-size: 16px;
        text-align: center;
    }

    .card-img-wrapper{
        width: 151px;
    }
    
    .card-button{
        padding: 7px 45px;
    }
}

/*location*/

.location-wrapper{
    padding-top: 272px;
    max-width: 1408px;
    margin: 0 auto;
}

.location-img{
    padding: 0 15px 0 15px;
}

.location-img-mobile{
    display: none;
}

.location-img-vh{
    display: none;
}

.location-info{
    padding: 36px 0 36px 0;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0%;
    font-weight: 400;
    color: var(--text-color);
}

.location-button-wrapper{
    text-align: center;
    padding-bottom: 48px;
}

.location-button{
   align-items: center;
   padding: 12px 54px;
   font-size: 13px;
   line-height: 24px;
   letter-spacing: 0%;
   border: 1px solid black;
   border-radius: 100px;
   color: var(--text-color);
   font-weight: 700;
   transition: 0.2s ease;
}

.location-button:hover{
    box-shadow: 3px 2px 5px rgba(148, 148, 148, 0.582);
}


@media (max-width: 960px){

    .location-wrapper{
        padding-top: 200px;
        max-width: 672px;
        margin: 0 auto;
    }
    
    .location-img{
        display: none;
    }

    .location-img-vh{
        display: block;
        padding: 0 10px 0 10px;
    }

    .location-button{
        padding: 10px 54px;
    }

}

@media (max-width: 600px){

    .location-wrapper{
        width: 100%;
        margin: 0 auto;
        padding-top: 133px;
    }

    .location-img-vh{
        display: none;
    }

    .location-img-mobile{
        display: block;
        margin: 0 auto;
    }

    .location-info{
        padding: 50px 0 6px 0;
        font-size: 16px;
        line-height: 22px;
    }

    .location-button{
        align-items: center;
        padding: 9px 42px;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0%;
     }

     .location-button-wrapper{
        padding-bottom: 75px;
    }
     
}

/*about device*/

.about-device-wrpapper{
    display: flex;
    margin: 0 auto;
    max-width: 1409px;
    justify-content: space-between;
}

.device-element{
    display: flex;
}

.apk-element{
    display: flex;
}

.device-element-info{
    padding: 136px 0 129px 120px;
}

.apk-element-info{
    padding: 172px 0 80px 120px;
}

.device-head{
    font-family: 'GothamPro', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0%;
    color: var(--text-color);
}

.apk-head{
    font-family: 'GothamPro', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0%;
    color: var(--text-color);
}

.device-info{
    padding: 28px 0 53px 0;
    width: 328px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--text-color);
}

.apk-info{
    padding: 28px 0 32px 0;
    max-width: 328px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--text-color);
}

.device-element-img{
    padding: 25px 0 0 0 ;
}

.apk-element-img{
    padding: 44px 0 27px 0;
}

.apk-element-img-vh{
    display: none;
}


@media (max-width: 1100px){
    .about-device-wrpapper{
        flex-direction: column;
        justify-content: center;
    }

    .about-device-wrpapper{
        display: flex;
        margin: 0 auto;
        max-width: 672px;
        column-gap: 24px;
        
    }

    .device-element-img{
        padding-top: 18px;
    }

    .apk-element-img-vh{
        display: block;
        padding: 72px 0 45px 0;
    }

    .apk-element-img{
        display: none;
    }

    .device-element-info{
        padding: 177px 160px 177px 77px;
        
    }


    .apk-element{
        justify-content: space-between;
    }
    
    .apk-element-info{
        padding: 180px 0px 50px 77px;
        
    }

    .apk-info{
        max-width: 248px;
    }
}


@media (max-width: 670px){
    .about-device-wrpapper{
        max-width: 375px; 
    }

    .device-element-img{
        padding-top: 34px;
    }

    .apk-element-img-vh{
        display: block;
        padding: 70px 0 76px 0;
        width: 42%;
    }

    .device-element-info{
        padding: 128px 20px 94px 0px;
    }
    
    .device-element{
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }

    .apk-element{
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }
    
    .apk-element-info{
        padding: 93px 0px 93px 0px;
        
    }

    .device-head{
        font-size: 16px;
        line-height: 22px;
    }

    .device-info{
        font-size: 12px;
        line-height: 19px;
        max-width: 185px;
    }

    .apk-head{
        font-size: 16px;
        line-height: 22px;
    }

    .apk-info{
        max-width: 120px;
        font-size: 12px;
        line-height: 19px;
        padding: 20px 0 28px 0;
    }
}
/* #endregion */



/*footer*/

.footer{
    padding-top: 64px;
}

.footer-wrapper{
    padding: 90px 10px 87px 10px;
    display: flex;
    column-gap: 180px;
    max-width: 1409px;
    margin: 0 auto; 
}

.footer-logo-img{
    width: 88px;
    height: 20px;
}

.footer-logos-mb{
    display: none;
}

.logos-link{
    color: var(--text-color);
    column-gap: 20px;
}

.logos-element:first-child{
    padding-bottom: 29px;
}

.logos-elements{
    padding-top: 112px;
    width: 160px;
}

.link-up{
    display: flex;
    column-gap: 200px;
}

.subscribe-tittle{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.subscribe-button{
    padding: 10px 30px;
    background-color: var(--text-color);
    border-radius: 4px;
    font-size: 13px;
    color: var(--text-color-wh);
    line-height: 24px;
    letter-spacing: 0%;
}

.links-wrapper{
    padding-top: 85px;
    display: flex;
    column-gap: 90px;
}

.links-element{
    width: 120px;
}

.links-tittle{
    padding-bottom: 23px;
    font-family: 'GothamPro', sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.links-li a{
    font-size: 13px;
    line-height: 21px;
    color: #AAAAAA;
    transition: 0.2s ease;
}

.links-li a:hover{
    color: #292929;
}

.links-li{
    max-width: 160px;
}

.links-li:nth-child(3){
    padding: 17px 0 17px 0;
}



/*radio*/
.form_toggle {
	display: flex;
	overflow: hidden;
}
.form_toggle-item {
	float: right;
	display: flex;
    
}
.form_toggle-item input[type=radio] {
	display: none;
}
.form_toggle-item label {
	display: inline-block;
	padding: 0px 15px;   
	line-height: 34px;    
	border: 1px solid #999;
	border-right: none;
	cursor: pointer;
	user-select: none;   
    
}
 
.form_toggle .item-1 label {
	border-radius: 6px 0 0 6px;
}
.form_toggle .item-2 label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
}
 
/* Checked */
.form_toggle .item-1 input[type=radio]:checked + label {
	background: #bbffbb;
}
.form_toggle .item-2 input[type=radio]:checked + label {
	background: #bbffbb;
}

#leng-mb{
    display: none;
}

/*radio*/



.info-element{
    padding: 85px 0 0 0;
}

.footer-inst{
    float: right;
}

.information{
    font-size: 13px;
    line-height: 21px;
    text-align: right;
    color: #AAAAAA;
    padding-top: 68px;
}

.footer-politic{
    max-width: 1409px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    margin: 0 auto;
    color: #AAAAAA;
    padding-bottom:58px ;
}

@media (max-width: 1400px){
    .footer-wrapper{
        justify-content: space-between;
        column-gap: 0;
        position: relative;
    }
}

@media (max-width: 1100px){
    .footer-wrapper{
        flex-direction: column;
        column-gap: 40px;
        max-width: 672px;
    }

    .footer-logo-img{
        display: none;
    }

    .subscribe-tittle{
        font-size: 12px
    }

    .subscribe-button{
        font-size: 10px;
        padding: 2px 12px;
    }
    .footer-logos{
        position: absolute;
        top: 345px;
        display: none;
    }

    .logos-elements{
        display: flex;
        width: 420px;
        column-gap: 32px;
    }

    .footer-logos-mb{
        display: block;
    }

    .info-element{
        padding-top: 40px;
    }

    .links-wrapper{
        margin: 0 auto;
        max-width: 672px;
    }

    .link-up{
        max-width: 672px;
        margin: 0 auto;
        column-gap: 0;
        justify-content: space-between;
    }

    .information{
        padding-top: 25px;
        max-width: 230px;
        float: right;
    }

    .form_toggle{
        display: none;
    }

    .footer-links{
        max-width: 672px;
        margin: 0 auto;
    }

    .footer-politic{
        max-width: 672px;
        font-size: 11px;
    }

    .logos-elements{
        padding-top: 50px;
        width: 100%;
        justify-content: space-between;
    }
    
    .footer-inst{
        float: left;
    }

    
    
}

@media (max-width: 700px){

    .footer{
        padding-top: 60px;
    }

    .footer-wrapper{
        max-width: 320px;
        padding: 0;
    }

    .links-wrapper{
        padding-top: 26px;
        flex-wrap: wrap;
        column-gap: 0;
        justify-content: space-between;
    }

    .links-ul{
        padding-top: 21px;
        width: 120px;
    }

    .links-tittle{
        font-size: 11px;
        padding-bottom: 10px;
    }

    .links-li a{
        font-size: 10px;
        line-height: normal;
    }

    .links-li:nth-child(3){
        padding: 11px 0 11px 0;
    }

    .footer-politic{
        max-width: 320px;
        font-size: 8px;
        text-align: left;
        line-height: normal;
    }

    .info-element{
        padding-top: 10px;
    }

    .footer-inst{
        float: left;
        width: 20px;
        height: 20px;
    }

    .information{
        padding: 0;
        font-size: 8px;
        line-height: 13px;
        max-width: 152px;
    }

    .footer-logos{
        top: 280px;
    }

    .logos-img{
        width: 20px;
        height: 20px;
        
    }

    .logos-tittle{
        font-size: 10px;
        line-height: 18px;
    }

    .logos-elements{
        max-width: 320px;
        column-gap: 93px;
        padding-top: 30px;
        
    }

    .footer-politic{
        padding: 32px 0 30px 0;
    }
}



/*app-html*/

.problem{
    padding-top: 264px;
}

.problem-wrapper{
    display: flex;
    max-width: 1231px;
    margin: 0 auto;
    column-gap: 74px;
}

.problem-tittle{
    max-width: 408px;
}

.problem-parag:nth-child(3){
    padding: 21px 0 21px 0;
}

.problem-parag:nth-child(2){
    font-family: 'GothamPro', sans-serif;
}

.problem-parag{
    font-size: 15px;
    line-height: 21px;
}

.problem-tittle-h{
    font-family: 'GothamPro', sans-serif;
    padding-bottom: 38px;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
}